page-title(ng-controller='loginCtrl') ='"CUE Analytics"'
  #login-cont
    form#login-form(ng-submit='login()', name='loginForm')
       fieldset
        a(href='http://www.cuedashboard.com')
          img(src='images/logo_grayscale.png')
        .notifications
          div(alert='')
        .control-group.first
          input.form-control(ng-focus='clearNotifs()' ng-change='clearNotifs()' placeholder='Email address' type='email' required='' id='emailInput' ng-model='email' focus-me='focusEmail', name='email')
        .control-group.password
          input.form-control(ng-focus='clearNotifs()' ng-change='clearNotifs()' placeholder='Password' type='password' required='' id='passwordInput' ng-model='password' name='password', focus-me='!focusEmail')
          i.icon-circle-arrow-right(ng-class='{disabled: loginForm.$invalid}', ng-click='login()')
        .control-group.forgot
          a(href='#/reset-password') Forgot Password
          button.btn.btn-success(type='submit', ng-disabled='loginForm.$invalid')
    div.loader(us-spinner='defaultSpin', visible-if='loading')
