page-title(ng-controller='userManagementCtrl') ='"CUE User Management"'
  div(navbar='', ng-controller='dashboardNavCtrl')
  .notifications(ng-show='notifications.length')
    div(alert='')
  h2.text-center CUE User Management
  a(href='#/user-details')
    input#new-user-btn.btn.btn-primary(type='button', value='New User')
  #users-ctn
     table
       thead
         th.delete-col
          .header-ctn
         th.user-name-col
          .header-ctn
            input.input-small(type='text', ng-model='state.userFilter.username')
            ng-click ='sortUser("username")' User Name
         th.first-name-col
          .header-ctn
            input.input-small(type='text', ng-model='state.userFilter.firstname')
            ng-click ='sortUser("firstname")' Name
         th.last-name-col
          .header-ctn
            input.input-small(type='text', ng-model='state.userFilter.lastname')
            ng-click ='sortUser("lastname")' &nbsp;
         th.roles-col
          .header-ctn
            input.input-small(type='text', ng-model='state.userFilter.role')
            ng-click ='sortUser("role")' Role
         th.company-col
          .header-ctn
            input.input-small(type='text', ng-model='state.userFilter.company')
            ng-click ='sortUser("company")' Company
         th.app-col
          .header-ctn
            input.input-small(type='text', ng-model='state.userFilter.appsString')
            ng-click ='sortUser("appsString")' Applications
       tbody
        tr(ng-repeat='u in users | filter:state.userFilter | orderBy:state.userOrder:state.userOrderReverse')
           td.delete-col
            i.icon-remove-circle(ng-click='deleteUser(u)')
           td.user-name-col 
            once-href(once-wait-for='u._id.$oid') ='"#/user-details/" + u._id.$oid'
              span(once-text='u.username')
          td.first-name-col(once-text='u.firstname')
          td.last-name-col(once-text='u.lastname')
          td.roles-col(once-text='u.role')
          td.company-col(once-text='u.company')
          td.app-col(once-text='u.appsString')
